[run]
source = validate_docbr
disable_warnings = no-data-collected
omit = validate_docbr/exceptions.py

[report]
fail_under = 99.00
precision = 2
show_missing = True
exclude_lines =
    raise FunctionNotImplementedError
