bleach==4.1.0
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
coverage==6.0.2
cryptography==39.0.1
docutils==0.18
idna==3.3
importlib-metadata==4.8.1
jeepney==0.7.1
keyring==23.2.1
packaging==21.0
pkginfo==1.7.1
pycparser==2.20
Pygments==2.10.0
pyparsing==3.0.2
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
tqdm==4.62.3
twine==3.4.2
urllib3==1.26.7
webencodings==0.5.1
zipp==3.6.0
